{% extends "layout.html" %}
{% block body %}
    <div align="center"><h1>あなたはどのくらい先延ばし屋か</h1></div>
    <p><font size="7">以下の内容について、あなたにとって最も当てはまる内容を選べ。</font></p>

    <form action="/result" method="GET">
    <p><font size="6">

        <br>
        <hr width="50%">
        <br>


        （問1)約束を守らず、周囲の人をがっかりさせる。<br>
        <div class="radio1" align="center">
        <input type="radio" required name="test0" class="radio-input" id="radio-1-0" value="0">
            <label for="radio-1-0">いつも</label>
        <input type="radio" required name="test0" class="radio-input" id="radio-1-1" value="1">
            <label for="radio-1-1">だいたい</label>
        <input type="radio" required name="test0" class="radio-input" id="radio-1-2" value="2">
            <label for="radio-1-2">ときどき</label>
        <input type="radio" required name="test0" class="radio-input" id="radio-1-3" value="3">
            <label for="radio-1-3">めったにない</label><br>
        </div>

        <br>
        <br>

        (問2)なかなか新しいことを始められない。<br>
             あるいは、ある計画を別の計画に切り替えるのは嫌い。<br>
        <div class="radio2" align="center">
        <input type="radio" required name="test1" class="radio-input" id="radio-2-0" value="0">
            <label for="radio-2-0">いつも</label>
        <input type="radio" required name="test1" class="radio-input" id="radio-2-1" value="1">
            <label for="radio-2-1">だいたい</label>
        <input type="radio" required name="test1" class="radio-input" id="radio-2-2" value="2">
            <label for="radio-2-2">ときどき</label>
        <input type="radio" required name="test1" class="radio-input" id="radio-2-3" value="3">
            <label for="radio-2-3">めったにない</label><br>
        </div>

        <br>
        <br>

        (問3)何かを始める前に、ミスをしたらどうしようと心配してしまう。<br>
        <div class="radio3" align="center">
        <input type="radio" required name="test2" class="radio-input" id="radio-3-0" value="0">
            <label for="radio-3-0">いつも</label>
        <input type="radio" required name="test2" class="radio-input" id="radio-3-1" value="1">
            <label for="radio-3-1">だいたい</label>
        <input type="radio" required name="test2" class="radio-input" id="radio-3-2" value="2">
            <label for="radio-3-2">ときどき</label>
        <input type="radio" required name="test2" class="radio-input" id="radio-3-3" value="3">
            <label for="radio-3-3">めったにない</label><br>
        </div>

        <br>
        <br>

        (問4)簡単なことを先にやって、難しいことは後回しにする。<br>
        <div class="radio4" align="center">
        <input type="radio" required name="test3" class="radio-input" id="radio-4-0" value="0">
            <label for="radio-4-0">いつも</label>
        <input type="radio" required name="test3" class="radio-input" id="radio-4-1" value="1">
            <label for="radio-4-1">だいたい</label>
        <input type="radio" required name="test3" class="radio-input" id="radio-4-2" value="2">
            <label for="radio-4-2">ときどき</label>
        <input type="radio" required name="test3" class="radio-input" id="radio-4-3" value="3">
            <label for="radio-4-3">めったにない</label><br>
        </div>

        <br>
        <br>

        (問5)あまり重要でないことに時間をかけすぎて、締め切りを守れない。<br>
        <div class="radio5" align="center">
        <input type="radio" required name="test4" class="radio-input" id="radio-5-0" value="0">
            <label for="radio-5-0">いつも</label>
        <input type="radio" required name="test4" class="radio-input" id="radio-5-1" value="1">
            <label for="radio-5-1">だいたい</label>
        <input type="radio" required name="test4" class="radio-input" id="radio-5-2" value="2">
            <label for="radio-5-2">ときどき</label>
        <input type="radio" required name="test4" class="radio-input" id="radio-5-3" value="3">
            <label for="radio-5-3">めったにない</label><br>
        </div>

        <br>
        <br>

        (問6)仕事場が散らかって雑然としている。<br>
        <div class="radio6" align="center">
        <input type="radio" required name="test5" class="radio-input" id="radio-6-0" value="0">
            <label for="radio-6-0">いつも</label>
        <input type="radio" required name="test5" class="radio-input" id="radio-6-1" value="1">
            <label for="radio-6-1">だいたい</label>
        <input type="radio" required name="test5" class="radio-input" id="radio-6-2" value="2">
            <label for="radio-6-2">ときどき</label>
        <input type="radio" required name="test5" class="radio-input" id="radio-6-3" value="3">
            <label for="radio-6-3">めったにない</label><br>
        </div>

        <br>
        <br>

        (問7)約束の時間に遅れる。<br>
        <div class="radio7" align="center">
        <input type="radio" required name="test6" class="radio-input" id="radio-7-0" value="0">
            <label for="radio-7-0">いつも</label>
        <input type="radio" required name="test6" class="radio-input" id="radio-7-1" value="1">
            <label for="radio-7-1">だいたい</label>
        <input type="radio" required name="test6" class="radio-input" id="radio-7-2" value="2">
            <label for="radio-7-2">ときどき</label>
        <input type="radio" required name="test6" class="radio-input" id="radio-7-3" value="3">
            <label for="radio-7-3">めったにない</label><br>
        </div>

        <br>
        <br>

        (問8)実際の行動が当初の理想を超えられないことが多い。<br>
        <div class="radio8" align="center">
        <input type="radio" required name="test7" class="radio-input" id="radio-8-0" value="0">
            <label for="radio-8-0">いつも</label>
        <input type="radio" required name="test7" class="radio-input" id="radio-8-1" value="1">
            <label for="radio-8-1">だいたい</label>
        <input type="radio" required name="test7" class="radio-input" id="radio-8-2" value="2">
            <label for="radio-8-2">ときどき</label>
        <input type="radio" required name="test7" class="radio-input" id="radio-8-3" value="3">
            <label for="radio-8-3">めったにない</label><br>
        </div>

        <br>
        <br>

        (問9)争いごとや不愉快な状況は、何か別の事をやって避ける。<br>
        <div class="radio9" align="center">
        <input type="radio" required name="test8" class="radio-input" id="radio-9-0" value="0">
            <label for="radio-9-0">いつも</label>
        <input type="radio" required name="test8" class="radio-input" id="radio-9-1" value="1">
            <label for="radio-9-1">だいたい</label>
        <input type="radio" required name="test8" class="radio-input" id="radio-9-2" value="2">
            <label for="radio-9-2">ときどき</label>
        <input type="radio" required name="test8" class="radio-input" id="radio-9-3" value="3">
            <label for="radio-9-3">めったにない</label><br>
        </div>

        <br>
        <br>

        (問10)周囲からは、自分には才能が足りないと思われるよりも<br>
        　　　 努力が足りないと思われる方がいい。<br>
        <div class="radio10" align="center">
        <input type="radio" required name="test9" class="radio-input" id="radio-10-0" value="0">
            <label for="radio-10-0">いつも</label>
        <input type="radio" required name="test9" class="radio-input" id="radio-10-1" value="1">
            <label for="radio-10-1">だいたい</label>
        <input type="radio" required name="test9" class="radio-input" id="radio-10-2" value="2">
            <label for="radio-10-2">ときどき</label>
        <input type="radio" required name="test9" class="radio-input" id="radio-10-3" value="3">
            <label for="radio-10-3">めったにない</label><br>
        </div>

        <br>
        <br>

        (問11)他人からの要求にノーと言うのが難しい。<br>
        <div class="radio11" align="center">
        <input type="radio" required name="test10" class="radio-input" id="radio-11-0" value="0">
            <label for="radio-11-0">いつも</label>
        <input type="radio" required name="test10" class="radio-input" id="radio-11-1" value="1">
            <label for="radio-11-1">だいたい</label>
        <input type="radio" required name="test10" class="radio-input" id="radio-11-2" value="2">
            <label for="radio-11-2">ときどき</label>
        <input type="radio" required name="test10" class="radio-input" id="radio-11-3" value="3">
            <label for="radio-11-3">めったにない</label><br>
        </div>

        <br>
        <hr width="50%">
        <br>

        <br>
        <br>

        <input type="hidden" name="total" value="11">
        <input type="hidden" name="abc" value="{{ abc }}">
        <div align="center"><input type="submit" value="完了" style="WIDTH: 25%; HEIGHT: 90px"></div>
    </font>
    </p>
    </form>
{% endblock %}