{% extends "layout.html" %}
{% block body %}
<h1>あなたはどのくらい先延ばし屋か</h1>
    <p>以下の内容について、あなたにとって最も当てはまる内容を選べ。</p>

    <form action="/result" method="GET">
    <p>
        テキストテキストテキスト1<br>
        <input type="radio" name="test0" value="0">いつも
        <input type="radio" name="test0" value="1">だいたい
        <input type="radio" name="test0" value="2">ときどき
        <input type="radio" name="test0" value="3">めったにない<br>

        テキストテキストテキスト2<br>
        <input type="radio" name="test1" value="0">いつも
        <input type="radio" name="test1" value="1">だいたい
        <input type="radio" name="test1" value="2">ときどき
        <input type="radio" name="test1" value="3">めったにない<br>

        テキストテキストテキスト3<br>
        <input type="radio" name="test2" value="0">いつも
        <input type="radio" name="test2" value="1">だいたい
        <input type="radio" name="test2" value="2">ときどき
        <input type="radio" name="test2" value="3">めったにない<br>


        <input type="hidden" name="total" value="3">
        <input type="submit" value="完了">

    </p>
    </form>
{% endblock %}