{% extends "layout.html" %}
{% block body %}
<h1>あなたはどのくらい先延ばし屋か</h1>
    <p>以下の内容について、あなたにとって最も当てはまる内容を選べ。</p>

    <form action="/result" method="GET">
    <p>

        <br>
        <hr width="50%">
        <br>

        約束を守らず、周囲の人をがっかりさせる。<br>
        <input type="radio" required name="test0" value="0">いつも
        <input type="radio" required name="test0" value="1">だいたい
        <input type="radio" required name="test0" value="2">ときどき
        <input type="radio" required name="test0" value="3">めったにない<br>

        <br>
        <br>

        なかなか新しいことを始められない。<br>
        あるいは、ある計画を別の計画に切り替えるのは嫌い。<br>
        <input type="radio" name="test1" value="0">いつも
        <input type="radio" name="test1" value="1">だいたい
        <input type="radio" name="test1" value="2">ときどき
        <input type="radio" name="test1" value="3">めったにない<br>

        <br>
        <br>

        何かを始める前に、ミスをしたらどうしようと心配してしまう。<br>
        <input type="radio" name="test2" value="0">いつも
        <input type="radio" name="test2" value="1">だいたい
        <input type="radio" name="test2" value="2">ときどき
        <input type="radio" name="test2" value="3">めったにない<br>

        <br>
        <br>

        簡単なことを先にやって、難しいことは後回しにする。<br>
        <input type="radio" name="test3" value="0">いつも
        <input type="radio" name="test3" value="1">だいたい
        <input type="radio" name="test3" value="2">ときどき
        <input type="radio" name="test3" value="3">めったにない<br>

        <br>
        <br>

        あまり重要でないことに時間をかけすぎて、締め切りを守れない。<br>
        <input type="radio" name="test4" value="0">いつも
        <input type="radio" name="test4" value="1">だいたい
        <input type="radio" name="test4" value="2">ときどき
        <input type="radio" name="test4" value="3">めったにない<br>

        <br>
        <br>

        仕事場が散らかって雑然としている。<br>
        <input type="radio" name="test5" value="0">いつも
        <input type="radio" name="test5" value="1">だいたい
        <input type="radio" name="test5" value="2">ときどき
        <input type="radio" name="test5" value="3">めったにない<br>

        <br>
        <br>

        約束の時間に遅れる。<br>
        <input type="radio" name="test6" value="0">いつも
        <input type="radio" name="test6" value="1">だいたい
        <input type="radio" name="test6" value="2">ときどき
        <input type="radio" name="test6" value="3">めったにない<br>

        <br>
        <br>

        実際の行動が当初の理想を超えられないことが多い。<br>
        <input type="radio" name="test7" value="0">いつも
        <input type="radio" name="test7" value="1">だいたい
        <input type="radio" name="test7" value="2">ときどき
        <input type="radio" name="test7" value="3">めったにない<br>

        <br>
        <br>

        争いごとや不愉快な状況は、何か別の事をやって避ける。<br>
        <input type="radio" name="test8" value="0">いつも
        <input type="radio" name="test8" value="1">だいたい
        <input type="radio" name="test8" value="2">ときどき
        <input type="radio" name="test8" value="3">めったにない<br>

        <br>
        <br>

        周囲からは、自分には才能が足りないと思われるよりも<br>
        努力が足りないと思われる方がいい。<br>
        <input type="radio" name="test9" value="0">いつも
        <input type="radio" name="test9" value="1">だいたい
        <input type="radio" name="test9" value="2">ときどき
        <input type="radio" name="test9" value="3">めったにない<br>

        <br>
        <br>

        他人からの要求にノーと言うのが難しい。<br>
        <input type="radio" name="test10" value="0">いつも
        <input type="radio" name="test10" value="1">だいたい
        <input type="radio" name="test10" value="2">ときどき
        <input type="radio" name="test10" value="3">めったにない<br>

        <br>
        <hr width="50%">
        <br>

        <br>
        <br>

        <input type="hidden" name="total" value="11">
        <input type="submit" value="完了">

    </p>
    </form>
{% endblock %}